# Media de trabajo (no versionar binarios pesados)
input/*
output/*
assets/broll/*
assets/music/*
# pero mantener la estructura de carpetas
!.gitkeep
!**/.gitkeep

# Las tipografías SÍ se versionan (son livianas y necesarias en cada sesión)
!fonts/
!fonts/*.ttf
!fonts/*.otf
